{% extends 'job/employer/base.html' %}
{% load static %}

{% block content %}


<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-us">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>About BeatoJobs</h3>
                            </div>
                            <div class="col-lg-7">
                                <p>BeatoJobs as its name sugests, is a complete system for managing employement by 
                                    making sure that all job seekers employed or unemployed get access to the right 
                                    jobs from the greate companies that are also made aware of them(the seekers) in case 
                                    they perhaps want an urgent recruitment of an employee into a sudent vaccant post  
                                    in Uganda </p>
                                <p>BeatoJobs is a software system, web based application built by Kbeatrice a 
                                    proffessional software programmer. And great of it being one of the best of all globaly 
                                    runing job apps that have taken a great effect and influence towards the job industries
                                    that has been a great challenge to address.</p>
                            </div>
                            <div class="col-lg-5">
                                <img src="{% static 'job/images/resource/bsd1.jpg' %}" alt="" />
                            </div>
                            <div class="col-lg-12">
                                <p>The system as been running for more than 4 years now and so far no big 
                                    challenges but lots of improvements and updates to get to the fulfilment of the deep 
                                    heart desires of our clients.  </p>
                                <p>Greatness of our clients have pushed us up this high and we so much appreciate them with
                                    their kid feedbacks that gave us clues to solve their worries in all short of succumptances.
                                    We are pleased and happy to have and humble to request you our high esteem clients to do reach
                                    always throuhg our Emails, phone numbers, and our addresses that are made available in the 
                                    contact page.
                                    For our main branch is located in Mukono NoNonStreet next to UCU Campus, with other branches 
                                    all over the country in towns like Mbarara, Westnile, Jinja, Busia etc:</p>
                            </div>
                        </div>
                        <div class="tags-share">
                            <div class="share-bar">
                                <a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#"
                                    title="" class="share-twitter"><i class="fa fa-twitter"></i></a><a href="#" title=""
                                    class="share-google"><i class="la la-google"></i></a><span>Share</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block remove-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="our-services">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Our Service</h2>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-clock-o"></i>
                                    <div class="service-info">
                                        <h3>Advertise A Job</h3>
                                        <p>BeatoJobs brings you the best of all kinds of job system that ease your way out
                                           to get the best fit employees for your companies, we make it easy by leting you 
                                           maange your account, post jobs, and the right qualities you may require for the 
                                           spercific jobs, hence getting the rightfull employees..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-search"></i>
                                    <div class="service-info">
                                        <h3>CV Review</h3>
                                        <p>Our system is a dynamic and effiecnet to provide you with that you would need 
                                            to know about the seekers that are ready and longing to hook up with employers 
                                            so as to get employed and serve the proffesional duties.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-user"></i>
                                    <div class="service-info">
                                        <h3>Recruiter Profiles</h3>
                                        <p>BeatJobs also provides a clear eye point of the employers that are using this 
                                            system so as to ensure trust of each other since we are all set to work as a 
                                            team in serving the Uganda.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-codepen"></i>
                                    <div class="service-info">
                                        <h3>Alot of Ease</h3>
                                        <p>BeatoJobs is the system with ease of ways to use so as to safe your time in 
                                            thinking out on how to start an advert or check out a best fit job 
                                            for you.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-tv"></i>
                                    <div class="service-info">
                                        <h3>Display Jobs</h3>
                                        <p>You are always not left out, we make sure all of our clients are kept updated with the newly posted Jobsfrom the 
                                                existing and newly registered companies as well.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-diamond"></i>
                                    <div class="service-info">
                                        <h3>For Agencies</h3>
                                        <p>Never worry your self if you didn't find all the reviews about the so much satisfying because you can still get to our
                                                contact page and link up with us directing, Thanks for being part of BeatoJobs Uganda.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock content %}