{% extends 'job/seeker/base.html' %}
{% load static %}

{% block content %}

<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Contact</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 column">
                    <div class="contact-form">
                        <h3>Keep In Touch</h3>
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="pf-title">Full Name</span>
                                    <div class="pf-field">
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <span class="pf-title">Email</span>
                                    <div class="pf-field">
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <span class="pf-title">Subject</span>
                                    <div class="pf-field">
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <span class="pf-title">Message</span>
                                    <div class="pf-field">
                                        <textarea></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 column">
                    <div class="contact-textinfo">
                        <h3>Office</h3>
                        <ul>
                            <li><i class="la la-map-marker"></i><span>BeatoJobs Inc. +256 Mukono Dc Avenue, Suite F-2
                                     </span></li>
                            <li><i class="la la-phone"></i><span>Call Us : +256-771-286-501</span></li>
                            <li><i class="la la-fax"></i><span>Fax : 04 343 343</span></li>
                            <li><i class="la la-envelope-o"></i><span>Email : beatojobs@info.com</span>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}